body{
  word-wrap:break-word; overflow:hidden;
  p{
    text-indent:2em;
    padding:5px;
  }
}

#upapk{
  width: 40%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  input{
    margin-top: 10px;
  }
}

.all{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.footer{
  small{
    a{
      text-decoration: none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  span{
    float: right;
    padding-right: 10px;
    a{
      text-decoration: none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}