<div>
  <small>powered by <a href="http://www.pkav.net/">pkav</a> css </small>
  <span><a href="http://edu.pkav.net/">培训</a></span>
  <span><a href="http://e.t.qq.com/pkavsec">微博</a></span>
  <span></span>
</div>
